{% extends "base.html" %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <small>{{ post.date }}</small>
  
  {% if post.tags %}
  <div class="post-tags">
    Tags: 
    {% for tag in post.tags %}
      <a href="/tags/{{ tag }}.html" class="tag">{{ tag }}</a>{% if not loop.last %} {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  
  <div class="post-content">{{ post.html_content | safe }}</div>
  
  <div class="post-footer">
    <a href="/" class="back-link">&larr; Back to all tags</a>
  </div>
{% endblock %}
